body {
    padding-left: 2%;
    padding-right: 2%;
}

header {
    background: #1a2846;
    color: aliceblue;
    padding: 5px;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
}

.date {
    text-align: right;
    color: aliceblue;
    font-size: 20px;
    margin: 25px;

}

#citySearch {
    font-size: 25px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    padding-left: 5px;

}

.searchBox {
    border-radius: 5%;

}

#cityResults {

    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

#todaysWeather {
    border: 2px solid;
    padding: 10px;
    margin: 10px;
    list-style: none;
}

#futureWeatherHeader {
    font-size: 3em;
    padding: 10px 10px;
}

#futureWeather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.footer {
    font-family: "Times New Roman";
    padding: 20px;
    text-align: center;
    background-color: #1a2846;
    color: aliceblue;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
}